<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Edit Post</title>
  <link rel="stylesheet" href="/form.css"/>
</head>
<body>
  <div class="container">
    <h2 class="section-title">Edit your post</h2>
    <form action="/post/<%=post.id%>?_method=PATCH" method="post">
      <h2 class="user">@<%= post.userName %></h2>
      <textarea name="content" placeholder="Write your post..." required><%= post.content %></textarea>
      <div class="button-group">
        <button type="submit" class="submit-btn">Save Changes</button>
        <a href="http://localhost:8080/post" class="back-btn">Cancel</a>
      </div>
    </form>
  </div>
  
</body>
</html>
<!-- use method overide -->